
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/bin/*
/.deployment/docker/var/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/doc/.yarn/
/doc/node_modules/
/doc/website/node_modules/
/doc/.docusaurus/
.env
.idea
.composer
.DS_Store
.ash_history
.phpunit.result.cache
.php-cs-fixer.cache
###< symfony/framework-bundle ###
