
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/bin/*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env
.idea
report/
.DS_Store
###< symfony/framework-bundle ###
