<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Coding Standard">
    <exclude-pattern>vendor/</exclude-pattern>

    <!-- Specify extensions (.php) -->
    <arg name="extensions" value="php"/>

    <!-- Color the result output -->
    <arg name="colors"/>

    <!-- Display progress (-p) -->
    <!-- Display violation rules in error information (-s) -->
    <arg value="ps"/>

    <!-- Include the whole PSR12 standard -->
    <rule ref="PSR12">
        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceAfter" />
        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceBefore" />
        <exclude name="PSR12.Classes.AnonClassDeclaration.SpaceAfterKeyword" />
    </rule>

    <!-- Include the whole SlevomatCodingStandard standard -->
    <rule ref="vendor/slevomat/coding-standard/SlevomatCodingStandard/ruleset.xml">
        <exclude name="SlevomatCodingStandard.Classes.RequireAbstractOrFinal" />
        <exclude name="SlevomatCodingStandard.Classes.RequireConstructorPropertyPromotion" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming" />
        <exclude name="SlevomatCodingStandard.Commenting.DisallowOneLinePropertyDocComment" />
        <exclude name="SlevomatCodingStandard.Commenting.DocCommentSpacing.IncorrectLinesCountBetweenDifferentAnnotationsTypes" />
        <exclude name="SlevomatCodingStandard.ControlStructures.AssignmentInCondition" />
        <exclude name="SlevomatCodingStandard.ControlStructures.DisallowYodaComparison" />
        <exclude name="SlevomatCodingStandard.ControlStructures.NewWithoutParentheses" />
        <exclude name="SlevomatCodingStandard.Exceptions.DisallowNonCapturingCatch.DisallowedNonCapturingCatch" />
        <exclude name="SlevomatCodingStandard.Files.FunctionLength.FunctionLength" />
        <exclude name="SlevomatCodingStandard.Files.TypeNameMatchesFileName" />
        <exclude name="SlevomatCodingStandard.Functions.DisallowArrowFunction" />
        <exclude name="SlevomatCodingStandard.Functions.FunctionLength.FunctionLength" />
        <exclude name="SlevomatCodingStandard.Functions.RequireSingleLineCall.RequiredSingleLineCall" />
        <exclude name="SlevomatCodingStandard.Functions.UnusedParameter" />
        <exclude name="SlevomatCodingStandard.Functions.DisallowTrailingCommaInCall.DisallowedTrailingComma" />
        <exclude name="SlevomatCodingStandard.Functions.DisallowTrailingCommaInDeclaration.DisallowedTrailingComma" />
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameInAnnotation" />
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedExceptions" />
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedGlobalConstants.NonFullyQualified" />
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedGlobalFunctions" />
        <exclude name="SlevomatCodingStandard.Namespaces.UseOnlyWhitelistedNamespaces" />
        <exclude name="SlevomatCodingStandard.Namespaces.UseSpacing.IncorrectLinesCountBetweenDifferentTypeOfUse" />
        <exclude name="SlevomatCodingStandard.Numbers.RequireNumericLiteralSeparator.RequiredNumericLiteralSeparator" />
        <exclude name="SlevomatCodingStandard.Operators.DisallowIncrementAndDecrementOperators" />
        <exclude name="SlevomatCodingStandard.TypeHints.DisallowMixedTypeHint" />
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint" />
        <exclude name="SlevomatCodingStandard.Classes.DisallowConstructorPropertyPromotion.DisallowedConstructorPropertyPromotion" />
        <exclude name="SlevomatCodingStandard.Functions.DisallowNamedArguments.DisallowedNamedArgument" />
        <exclude name="SlevomatCodingStandard.ControlStructures.DisallowNullSafeObjectOperator.DisallowedNullSafeObjectOperator" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix" />
        <exclude name="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName" />
        <exclude name="SlevomatCodingStandard.PHP.DisallowReference.DisallowedInheritingVariableByReference" />
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousErrorNaming.SuperfluousSuffix" />
        <exclude name="SlevomatCodingStandard.PHP.DisallowDirectMagicInvokeCall"/>
    </rule>

    <!-- Update some PSR1 rules -->
    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>tests/</exclude-pattern>
    </rule>

    <!-- Update some SlevomatCodingStandard rules -->
    <rule ref="SlevomatCodingStandard.Classes.ClassStructure">
        <properties>
            <property name="groups" type="array">
                <element value="uses"/>
                <element value="public constants"/>
                <element value="constants"/>
                <element value="properties"/>
                <element value="constructor"/>
                <element value="static constructors"/>
                <element value="all public methods, public static methods, magic methods"/>
                <element value="methods"/>
            </property>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Classes.EmptyLinesAroundClassBraces">
        <properties>
            <property name="linesCountAfterOpeningBrace" value="0"/>
            <property name="linesCountBeforeClosingBrace" value="0"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Classes.TraitUseSpacing">
        <properties>
            <property name="linesCountBeforeFirstUse" value="0"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Commenting.ForbiddenComments" >
        <properties>
            <property name="forbiddenCommentPatterns" type="array">
                <element value="/Created by PhpStorm/"/>
            </property>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.ControlStructures.RequireYodaComparison" />
    <rule ref="SlevomatCodingStandard.Files.LineLength">
        <properties>
            <property name="lineLengthLimit" value="180"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
        <properties>
            <property name="searchAnnotations" value="true"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
        <properties>
            <property name="newlinesCountBetweenOpenTagAndDeclare" value="2"/>
            <property name="spacesCountAroundEqualsSign" value="0"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Variables.DisallowSuperGlobalVariable.DisallowedSuperGlobalVariable">
        <exclude-pattern>tests/</exclude-pattern>
    </rule>

    <!-- Include some custom rules -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="180"/>
        </properties>
    </rule>
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array" value="array=>null,var_dump=>null,dump=>null" />
        </properties>
    </rule>
</ruleset>
