parameters:
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
        - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ has parameter \\$[a-zA-Z0-9_]+ with no value type specified in iterable type array#"